<!-- views/groupProfile.ejs -->
<!doctype html>
<html>
<head>
    <title>GroupProfile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">




    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Group Home Page</h1>
        <h2>Welcome to the <%= group.name %> Group page!

        </h2>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create New Meeting</button>
<!-- Create Group Btn & Modal -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Meeting</h4>
      </div>
       <form action="/groupProfile" method="post">
      <div class="modal-body">
        <div class="form-group">
          <label>Meeting Name</label>
            <input type="text" class="form-control" name="meetingName">
            <label>Starting Date</label>
            <input type="text" class="form-control" name="dateMin">
            <label>Starting Time</label>
            <input type="text" class="form-control" name="timeMin">
            <label>Ending Date</label>
            <input type="text" class="form-control" name="dateMax">
            <label>Ending Time</label>
            <input type="text" class="form-control" name="timeMax">
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-warning btn-lg">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

    
    <!--
        Import Script Files:
        - Jquery js 
        - Bootstrap js 
    -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>