<!--   
    views/index.ejs 
        homepage template
-->

<!doctype html>
<html>
<head>
    <title>Freetime Login</title>
    <!--
        load: 
        - Bootstrap
        - Fontawesome
    -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Freetime</h1>

        <p>Login with your Google Account:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google">Google</a>
    </div>

</div>
</body>
</html>